{% load static %}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Premium Rentals UK</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <!-- External CSS libraries -->
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/animate.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/bootstrap-submenu.css' %}">
    <link rel="stylesheet" href="{% static 'website/https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css' %}"/>

    <link rel="stylesheet" type="text/css" href="{% static 'website/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/magnific-popup.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/fonts/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/fonts/flaticon/font/flaticon.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/fonts/linearicons/style.css' %}">
    <link rel="stylesheet" type="text/css"  href="{% static 'website/css/jquery.mCustomScrollbar.css' %}">
    <link rel="stylesheet" type="text/css"  href="{% static 'website/css/dropzone.css' %}">
    <link rel="stylesheet" type="text/css"  href="{% static 'website/css/slick.css' %}">
    <link rel="stylesheet" type="text/css"  href="{% static 'website/css/lightbox.min.css' %}">
    <link rel="stylesheet" type="text/css"  href="{% static 'website/css/jnoty.css' %}">

    <!-- Custom stylesheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/sidebar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/style.css' %}">
    <link rel="stylesheet" type="text/css" id="style_sheet" href="{% static 'website/css/skins/yellow.css' %}">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="{% static 'website/img/favicon.ico' %}" type="image/x-icon" >

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link rel="stylesheet" type="text/css" href="{% static 'website/css/ie10-viewport-bug-workaround.css' %}">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script  src="js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script  src="{% static 'website/js/ie-emulation-modes-warning.js' %}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script  src="js/html5shiv.min.js"></script>
    <script  src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="page_loader"></div>

<!-- Top header start -->
<header class="top-header bg-active" id="top-header-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-7">
                <div class="list-inline">
                    <a href="tel:+447493663243"><i class="fa fa-phone"></i>Need Support? +447493663243</a>
                    <a href="tel:premiumrentals.uk@gmail.com"><i class="fa flaticon-mail"></i>premiumrentals.uk@gmail.com</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-4 col-sm-5">
                <ul class="top-social-media pull-right">
                    <li>
                      
                    </li>
                    <li>
                
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- Top header end -->

<!-- Main header start -->
<header class="main-header sticky-header sh-2">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand company-logo-2" href="index.html">
                <img src="{% static 'website/img/logos/black-logo.png' %}" alt="logo">
            </a>
            <button class="navbar-toggler" type="button" id="drawer">
                <span class="fa fa-bars"></span>
            </button>
            <div class="navbar-collapse collapse w-100 justify-content-end" id="navbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Home
                        </a>
                        
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Car Listing
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">List Layout</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="car-list-rightside.html">List Right Sidebar</a></li>
                                    <li><a class="dropdown-item" href="car-list-leftsidebar.html">List Left Sidebar</a></li>
                                    <li><a class="dropdown-item" href="car-list-fullWidth.html">List FullWidth</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Grid Layout</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="car-grid-rightside.html">Grid Right Sidebar</a></li>
                                    <li><a class="dropdown-item" href="car-grid-leftside.html">Grid Left Sidebar</a></li>
                                    <li><a class="dropdown-item" href="car-grid-fullWidth.html">Grid FullWidth</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Car Details</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="car-details.html">Car Details 1</a></li>
                                    <li><a class="dropdown-item" href="car-details-2.html">Car Details 2</a></li>
                                    <li><a class="dropdown-item" href="car-details-3.html">Car Details 3</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    
                    </li>
                    <li class="nav-item dropdown">
                        
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="contact.html">Contact</a>
                    </li>
                
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<!-- Main header end -->

<!-- Sidenav start -->
<nav id="sidebar" class="nav-sidebar">
    <!-- Close btn-->
    <div id="dismiss">
        <i class="fa fa-close"></i>
    </div>
    <div class="sidebar-inner">
        <div class="sidebar-logo">
            <a href="index.html">
                <img src="{% static 'website/img/logos/black-logo.png' %}" alt="sidebarlogo">
            </a>
        </div>
        <div class="sidebar-navigation">
            <h3 class="heading">Pages</h3>
            <ul class="menu-list">
                <li><a href="#" class="active pt0">Index <em class="fa fa-chevron-down"></em></a>
                    <ul>
                        <li><a href="index.html">Index 01</a></li>
                        <li><a href="index-2.html">Index 02</a></li>
                        <li><a href="index-3.html">Index 03</a></li>
                        <li><a href="index-4.html">Index 04</a></li>
                        <li><a href="index-5.html">Index 05</a></li>
                        <li><a href="index-6.html">Index 06</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Car Listing <em class="fa fa-chevron-down"></em></a>
                    <ul>
                        <li>
                            <a href="#">List Layout <em class="fa fa-chevron-down"></em></a>
                            <ul>
                                <li><a href="car-list-rightside.html">List Right Sidebar</a></li>
                                <li><a href="car-list-leftsidebar.html">List Left Sidebar</a></li>
                                <li><a href="car-list-fullWidth.html">List FullWidth</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Grid Layout <em class="fa fa-chevron-down"></em></a>
                            <ul>
                                <li><a href="car-grid-rightside.html">Grid Right Sidebar</a></li>
                                <li><a href="car-grid-leftside.html">Grid Left Sidebar</a></li>
                                <li><a href="car-grid-fullWidth.html">Grid FullWidth</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Car Details <em class="fa fa-chevron-down"></em></a>
                            <ul>
                                <li><a href="car-details.html">Car Details 1</a></li>
                                <li><a href="car-details-2.html">Car Details 2</a></li>
                                <li><a href="car-details-3.html">Car Details 3</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Pages <em class="fa fa-chevron-down"></em></a>
                    <ul>
                        <li><a href="about.html">About Us</a></li>
                        <li>
                            <a href="#">Agent <em class="fa fa-chevron-down"></em></a>
                            <ul>
                                <li><a href="agent.html">Agent</a></li>
                                <li><a href="agent-detail.html">Agent Details</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Services <em class="fa fa-chevron-down"></em></a>
                            <ul>
                                <li><a href="services.html">Services 1</a></li>
                                <li><a href="services-2.html">Services 2</a></li>
                            </ul>
                        </li>
                        <li><a href="car-comparison.html">Car Compare</a></li>
                        <li><a href="pricing-tables.html">Pricing Tables</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="typography.html">Typography</a></li>
                        <li><a href="elements.html">Elements</a></li>
                        <li><a href="faq.html">Faq</a></li>
                        <li><a href="search-brand.html">Car Brands</a></li>
                        <li><a href="icon.html">Icons</a></li>
                        <li><a href="coming-soon.html">Coming Soon</a></li>
                        <li><a href="404.html">Error Page</a></li>
                        <li><a href="login.html">login</a></li>
                        <li><a href="signup.html">Register</a></li>
                    </ul>
                </li>
                <li><a href="#">Blog <em class="fa fa-chevron-down"></em></a>
                    <ul>
                        <li><a href="blog-post.html">Blog Post</a></li>
                        <li><a href="blog-sidebar.html">Blog Sidebar</a></li>
                        <li><a href="blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li><a href="#">Shop <em class="fa fa-chevron-down"></em></a>
                    <ul>
                        <li><a href="shop-list.html">Shop List</a></li>
                        <li><a href="shop-cart.html">Shop Cart</a></li>
                        <li><a href="shop-checkout.html">Shop Checkout</a></li>
                        <li><a href="shop-details.html">Shop Details</a></li>
                    </ul>
                </li>
                <li>
                    <a href="contact.html">Contact</a>
                </li>
                <li>
                    <a href="#full-page-search" class="nav-link h-icon">
                        <i class="fa fa-search"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="get-in-touch">twitter
            <h3 class="heading">Get in Touch</h3>
            <div class="get-in-touch-box d-flex mb-2">
                <i class="flaticon-phone"></i>
                <a href="tel:0477-0477-8556-552">0288 2547 874</a>
            </div>
            <div class="get-in-touch-box d-flex mb-2">
                <i class="flaticon-mail"></i>
                <div class="media-body">
                    <a href="#">info@themevessel.com</a>
                </div>
            </div>
            <div class="get-in-touch-box d-flex">
                <i class="flaticon-earth"></i>
                <div class="media-body">
                    <a href="#">info@themevessel.com</a>
                </div>
            </div>
        </div>
        <div class="get-social">
            <h3 class="heading">Get Social</h3>
            <a href="#" class="facebook-bg">
                <i class="fa fa-facebook"></i>
            </a>
           
            </a>
            <a href="#" class="google-bg">
                <i class="fa fa-google"></i>
            </a>
            <a href="#" class="linkedin-bg">
                <i class="fa fa-linkedin"></i>
            </a>
        </div>
    </div>
</nav>
<!-- Sidenav end -->

<!-- Banner 3 start -->
<div class="banner-3">
    <div class="slider-container">
        <div class="left-slide">
            <div style="background-color:#eef1f6">
                <div class="banner-info-3">
                    <div class="animated-text-1">
                        <h1 class="animate-charcter">Wow Factor Standard</h1>
                    </div>
                    <p>Allow us to guide you through the innovative stress free approach in finding your dream car.</p>
                    <a data-animation="flipInX" data-delay="0.8s" class="btn-9 btn" href="#">
                        <span></span><span></span><span></span><span></span>Learn More
                    </a>
                </div>
            </div>
            <div style="background-color: #eef1f6">
                <div class="banner-info-3">
                    <div class="animated-text-1">
                        <h1 class="animate-charcter">Explore Your Dream Car</h1>
                    </div>
                    <p>Allow us to guide you through the innovative stress free approach in finding your dream car.</p>
                    <a data-animation="flipInX" data-delay="0.8s" class="btn-9 btn" href="#">
                        <span></span><span></span><span></span><span></span>Learn More
                    </a>
                </div>
            </div>
            <div style="background-color: #eef1f6">
                <div class="banner-info-3">
                    <div class="animated-text-1">
                        <h1 class="animate-charcter">Explore Your Dream Car</h1>
                    </div>
                    <p>Allow us to guide you through the innovative stress free approach in finding your dream car.</p>
                    <a data-animation="flipInX" data-delay="0.8s" class="btn-9 btn" href="#">
                        <span></span><span></span><span></span><span></span>Learn More
                    </a>
                </div>
            </div>
            <div style="background-color: #eef1f6">
                <div class="banner-info-3">
                    <div class="animated-text-1">
                        <h1 class="animate-charcter">Welcome To  Premium Rentals UK</h1>
                    </div>
                    <p>Allow us to guide you through the innovative stress free approach in finding your dream car.</p>
                    <a data-animation="flipInX" data-delay="0.8s" class="btn-9 btn" href="#">
                        <span></span><span></span><span></span><span></span>Learn More
                    </a>
                </div>
            </div>
        </div>
        <div class="right-slide">
            <div class="overlay-2" style="background-image: url('static/website/img/banner/img-8.jpg')"></div>
            <div class="overlay-2" style="background-image: url('static/website/img/banner/img-7.jpg')"></div>
            <div class="overlay-2" style="background-image: url('static/website/img/banner/img-4.jpg')"></div>
            <div class="overlay-2" style="background-image: url('static/website/img/banner/img-1.jpg')"></div>
        </div>
        <div class="action-buttons">
            <button class="down-button">
                <i class="fas fa-arrow-down"></i>
            </button>
            <button class="up-button">
                <i class="fas fa-arrow-up"></i>
            </button>
        </div>
        <div class="banner-info-3 b2i-2">
            <h1>Wow Factor Standard</h1>
            <p>Allow us to guide you through the innovative stress free approach in finding your dream car.</p>
            <a data-animation="flipInX" data-delay="0.8s" class="btn-9 btn" href="#">
                <span></span><span></span><span></span><span></span>Learn More
            </a>
        </div>
    </div>
</div>
<!-- Banner 3 end -->


<!-- Featured car start -->
<div class="featured-car content-area-5">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>Featured <span>Car</span></h1>
            <div class="title-border">
                <div class="title-border-inner"></div>
                <div class="title-border-inner"></div>
                <div class="title-border-inner"></div>
            </div>
        </div>
        <div class="featured-slider row slide-box-btn slider" data-slick='{"slidesToShow": 2, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
            <div class="slide slide-box">
                <div class="car-box-4 car-photo-3">
                    <img class="img-fluid" src="{% static 'website/img/car/cayenne.jpg' %}" alt="latest-offers">
                    <div class="tag-2 bg-active">For Rent</div>
                    <div class="ling-section">
                        <h3>
                            <a href="car-details.html">Porsche Cayenne</a>
                        </h3>
                        <ul class="facilities-list clearfix">
                            <li>
                                <strong>Fuel:</strong> Gasoline
                            </li>
                            <li>
                                <strong>Transmission:</strong> Automatic
                            </li>
                            <li>
                                <strong>Mileage:</strong> 12505
                            </li>
                            <li>
                                <strong>Gear:</strong> 7
                            </li>
                            <li>
                                <strong>Year:</strong> 2016
                            </li>
                            <li>
                                <strong>Category:</strong> SUV
                            </li>
                        </ul>
                        <a href="car-details.html" class="read-more-btn">Read More</a>
                    </div>
                </div>
            </div>
            <div class="slide slide-box">
                <div class="car-box-4 car-photo-4">
                    <img class="img-fluid" src="{% static 'website/img/car/jaguar.jpg' %}" alt="latest-offers">
                    <div class="tag-2 bg-active">For Rent</div>
                    <div class="ling-section">
                        <h3>
                            <a href="car-details.html">Jaguar</a>
                        </h3>
                        <ul class="facilities-list clearfix">
                            <li>
                                <strong>Fuel:</strong> Diesel
                            </li>
                            <li>
                                <strong>Transmission:</strong> Automatic
                            </li>
                            <li>
                                <strong>Mileage:</strong> 13000
                            </li>
                            <li>
                                <strong>Gear:</strong> 8
                            </li>
                            <li>
                                <strong>Year:</strong> 2017
                            </li>
                            <li>
                                <strong>Category:</strong> SUV
                            </li>
                        </ul>
                        <a href="car-details.html" class="read-more-btn">Read More</a>
                    </div>
                </div>
            </div>
            <div class="slide slide-box">
                <div class="car-box-4 car-photo-3">
                    <img class="img-fluid" src="{% static 'website/img/car/aclass.jpg' %}" alt="latest-offers">
                    <div class="tag-2 bg-active">For Rent</div>
                    <div class="ling-section">
                        <h3>
                            <a href="car-details.html">Mercedes A Class</a>
                        </h3>
                        <ul class="facilities-list clearfix">
                            <li>
                                <strong>Fuel:</strong> Diesel
                            </li>
                            <li>
                                <strong>Transmission:</strong> Automatic
                            </li>
                            <li>
                                <strong>Mileage:</strong> 15000
                            </li>
                            <li>
                                <strong>Gear:</strong> 9
                            </li>
                            <li>
                                <strong>Year:</strong> 2015
                            </li>
                            <li>
                                <strong>Category:</strong> Sports Car
                            </li>
                        </ul>
                        <a href="car-details.html" class="read-more-btn">Read More</a>
                    </div>
                </div>
            </div>
            <div class="slide slide-box">
                <div class="car-box-4 car-photo-2">
                    <img class="img-fluid" src="{% static 'website/img/MASINI/masini 1/AUDI A6/1.jpg' %}" alt="latest-offers">
                    <div class="tag-2 bg-active">For Sale</div>
                    <div class="ling-section">
                        <h3>
                            <a href="car-details.html">Audi A6</a>
                        </h3>
                        <ul class="facilities-list clearfix">
                            <li>
                                <strong>Fuel:</strong> Diesel 
                            </li>
                            <li>
                                <strong>Transmission:</strong> Automatic
                            </li>
                            <li>
                                <strong>Mileage:</strong>10000
                            </li>
                            <li>
                                <strong>Gear:</strong> 9
                            </li>
                            <li>
                                <strong>Year:</strong> 2020
                            </li>
                            <li>
                                <strong>Category:</strong> Family Car
                            </li>
                        </ul>
                        <a href="car-details.html" class="read-more-btn">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Featured car end -->

<!-- Service section start -->
<div class="service-section-3 content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title-2 text-center">
            <h1>We Are <span>The Best</span></h1>
            <div class="title-border">
                <div class="title-border-inner"></div>
                <div class="title-border-inner"></div>
                <div class="title-border-inner"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="service-info-3">
                    <div class="number">1</div>
                    <div class="icon">
                        <i class="flaticon-shield"></i>
                    </div>
                    <div class="detail">
                        <h5><a href="services.html">Highly  Secured</a></h5>
                        <p>All applicants must know that we currently only take payments upfront, which means we DO NOT accept cash on delivery or cash on collection sort of thing at the moment. (None of our suppliers want that anymore, due to plenty of time wasters in the past, and time is very valuable).  If you are not happy paying upfront for a vehicle, do not waste our time.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="service-info-3">
                    <div class="number">2</div>
                    <div class="icon">
                        <i class="flaticon-deal"></i>
                    </div>
                    <div class="detail">
                        <h5><a href="services.html">Trusted Agents</a></h5>
                        <p>We are one of the best car rental agents around.We are working with some of the biggest car dealers in UK, so we offer respect and we want to be respected! We are working on the no credit check car lease principle, so everyone cand rent or lease from us even if the credit score is really bad.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="service-info-3">
                    <div class="number">3</div>
                    <div class="icon">
                        <i class="flaticon-money"></i>
                    </div>
                    <div class="detail">
                        <h5><a href="services.html">Get an Offer</a></h5>
                        <p>Everyone is welcome to apply, no credit check at all.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="service-info-3">
                    <div class="number">4</div>
                    <div class="icon">
                        <i class="flaticon-support-2"></i>
                    </div>
                    <div class="detail">
                        <h5><a href="services.html">Free Support</a></h5>
                        <p>If you have any more questions or have problems sending over your application, please contact me via WhatsApp or Email us at: premiumrentals.uk@gmail.com / +447493663243 </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service section end -->

<!-- Latest offers section strat -->
<div class="latest-offers-section content-area-13">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1>Latest <span>Offers</span></h1>
            <div class="title-border">
                <div class="title-border-inner"></div>
                <div class="title-border-inner"></div>
                <div class="title-border-inner"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="latest-offers-box">
                            <div class="latest-offers-box-inner">
                                <div class="latest-offers-box-overflow">
                                    <div class="latest-offers-box-photo">
                                        <img class="img-fluid" src="{% static 'website/img/MASINI/masini 1/BMW X6/5.jpg' %}" alt="latest-offers">
                                    </div>
                                    <div class="info">
                                        <div class="price-box-2"><sup>$</sup>380<span>/month</span></div>
                                        <h3>
                                            <a href="car-details.html">BMW X6</a>
                                        </h3>
                                    </div>
                                    <div class="new">New</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="latest-offers-box">
                            <div class="latest-offers-box-inner">
                                <div class="latest-offers-box-overflow">
                                    <div class="latest-offers-box-photo">
                                        <img class="img-fluid" src="{% static 'website/img/MASINI/masini 1/RANGE ROVER SPORT RED/5.jpg' %}" alt="latest-offers">
                                    </div>
                                    <div class="info">
                                        <div class="price-box-2"><sup>$</sup>340<span>/month</span></div>
                                        <h3>
                                            <a href="car-details.html">RANGE ROVER SPORT</a>
                                        </h3>
                                    </div>
                                    <div class="new">New</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="latest-offers-box">
                            <div class="latest-offers-box-inner">
                                <div class="latest-offers-box-overflow">
                                    <div class="latest-offers-box-photo">
                                        <img class="img-fluid" src="{% static 'website/img/MASINI/masini 1/MERCEDES GLC/6.jpg' %}" alt="latest-offers">
                                    </div>
                                    <div class="info">
                                        <div class="price-box-2"><sup>$</sup>245<span>/month</span></div>
                                        <h3 class="category-title">
                                            <a href="car-details.html">MERCEDES GLC</a>
                                        </h3>
                                    </div>
                                    <div class="new">New</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12">
                <div class="latest-offers-box">
                    <div class="latest-offers-box-inner">
                        <div class="latest-offers-box-overflow">
                            <div class="latest-offers-box-photo">
                                <div class="latest-offers-box-photodd">
                                    <img class="img-fluid big-img" src="{% static 'website/img/MASINI/masini 1/LAMBORGHINI URUS/2.jpg' %}" alt="latest-offers">
                                </div>
                            </div>
                            <div class="info">
                                <div class="price-box-2"><sup>$</sup>3950<span>/month</span></div>
                                <h3 class="category-title">
                                    <a href="car-details.html">LAMBORGHINI URUS</a>
                                </h3>
                            </div>
                            <div class="new">New</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Latest offers section end -->

<!-- Counters 3 strat -->
<div class="counters-3">
    <div class="container">
        <div class="row g-0">
            <div class="col-lg-3 col-md-6 col-sm-6 border-l border-r">
                <div class="counter-box-3">
                    <div class="icon">
                        <i class="flaticon-car"></i>
                    </div>
                    <h1 class="counter">100</h1>
                    <h5>Total Cars</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 border-r">
                <div class="counter-box-3">
                    <div class="icon">
                        <i class="flaticon-blog"></i>
                    </div>
                    <h1 class="counter">1276</h1>
                    <h5>Dealer Reviews</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 border-r">
                <div class="counter-box-3">
                    <div class="icon">
                        <i class="flaticon-user"></i>
                    </div>
                    <h1 class="counter">396</h1>
                    <h5>Happy Clients</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 border-r">
                <div class="counter-box-3">
                    <div class="icon">
                        <i class="flaticon-medal"></i>
                    </div>
                    <h1 class="counter">177</h1>
                    <h5>Award Winning</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Counters 3 end -->

<!-- Our team start -->

<!-- Our team end -->

<!-- Testimonial start -->
<div class="testimonial-4 content-area-5">
    <div class="container">
        <!-- Main title -->
        <div class="main-title">
            <h1>What Clients <span> Say</span></h1>
            <div class="title-border">
                <div class="title-border-inner"></div>
                <div class="title-border-inner"></div>
                <div class="title-border-inner"></div>
            </div>
        </div>
        <div class="featured-slider row slide-box-btn slider" data-slick='{"slidesToShow": 2, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": 2}}, {"breakpoint": 768,"settings":{"slidesToShow": 1}}]}'>
            <div class="slide slide-box">
                <div class="testimonial-info">
                    <div class="user-section">
                        <div class="user-thumb">
                            <img src="{% static 'website/img/avatar/rapper.jpg' %}" alt="testimonial">
                            <div class="icon">
                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                        <div class="user-name">
                            <h5>NLE Choppa</h5>
                            <p> Rapper</p>
                        </div>
                    </div>
                    <div class="text">
                        <p>"Helped me with a few vehicles for a video, best place in London for sure"</p>
                    </div>
                </div>
            </div>
            <div class="slide slide-box">
                <div class="testimonial-info">
                    <div class="user-section">
                        <div class="user-thumb">
                            <img src="{% static 'website/img/avatar/assa.jpg' %}" alt="testimonial">
                            <div class="icon">
                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                        <div class="user-name">
                            <h5>Assa Butterfield</h5>
                            <p>Actor</p>
                        </div>
                    </div>
                    <div class="text">
                        <p>
                            "Premium Rentals took me to a few events already, wonderful people and top service. See you soon guys!"
                            </p>
                    </div>
                </div>
            </div>
            <div class="slide slide-box">
                <div class="testimonial-info">
                    <div class="user-section">
                        <div class="user-thumb">
                            <img src="{% static 'website/img/avatar/ashley.jpg' %}" alt="testimonial">
                            <div class="icon">
                                <i class="fa fa-quote-right"></i>
                            </div>
                        </div>
                        <div class="user-name">
                            <h5>Ashley Walters</h5>
                            <p>Actor</p>
                        </div>
                    </div>
                    <div class="text">
                        <p>"Was in a rush due to an event, and these guys saved me pretty much last minute."</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial end -->

<!-- Blog start -->

</div>
<!-- Blog end -->


<!-- Footer start -->
<footer class="footer">
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    
    </div>
    <div class="clearfix"></div>
    <div class="footer-inner">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-item clearfix">
                        <img src="{% static 'website/img/logos/logo.png' %}" alt="logo" class="f-logo">
                        <div class="s-border"></div>
                        <div class="m-border"></div>
                        <div class="text">
                            <P class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat.</P>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-item clearfix">
                        <h4>
                            Contact Info
                        </h4>
                        <div class="s-border"></div>
                        <div class="m-border"></div>
                        <ul class="contact-info">
                            <li>
                                <i class="flaticon-pin"></i>Address: 44 New Design Street,
                            </li>
                            <li>
                                <i class="flaticon-mail"></i><a href="mailto:sales@hotelempire.com">premiumrentals.uk@gmail.com</a>
                            </li>
                            <li>
                                <i class="flaticon-phone"></i><a href="tel:+55-417-634-7071">+447493663243</a>
                            </li>
                            <li>
                                <i class="flaticon-fax"></i>+447493663243
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6">
                    <div class="footer-item">
                        <h4>
                            Useful Links
                        </h4>
                        <div class="s-border"></div>
                        <div class="m-border"></div>
                        <ul class="links">
                            <li>
                                <a href="#"><i class="fa fa-angle-right"></i>Home</a>
                            </li>
                            <li>
                                <a href="about.html"><i class="fa fa-angle-right"></i>About Us</a>
                            </li>
                            <li>
                                <a href="services.html"><i class="fa fa-angle-right"></i>Services</a>
                            </li>
                            <li>
                                <a href="car-list-rightside.html"><i class="fa fa-angle-right"></i>Car Listing</a>
                            </li>
                            <li>
                                <a href="blog-details.html"><i class="fa fa-angle-right"></i>Blog</a>
                            </li>
                            <li>
                                <a href="contact.html"><i class="fa fa-angle-right"></i>Contact Us</a>
                            </li>
                            <li>
                                <a href="elements.html"><i class="fa fa-angle-right"></i>Elements</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="footer-item clearfix">
                        <div class="footer-gallery clearfix">
                            <h4>Our Gallery</h4>
                            <div class="s-border"></div>
                            <div class="m-border"></div>
                            <ul>
                                <li>
                                    <img src="{% static 'website/img/car/car1.jpg' %}" alt="small-img">
                                </li>
                                <li>
                                    <img src="{% static 'website/img/car/car2.jpg' %}" alt="small-img">
                                </li>
                                <li>
                                    <img src="{% static 'website/img/car/car3.jpg' %}" alt="small-img">
                                </li>
                                <li>
                                    <img src="{% static 'website/img/car/car4.jpg' %}" alt="small-img">
                                </li>
                                <li>
                                    <img src="{% static 'website/img/car/car5.jpg' %}" alt="small-img">
                                </li>
                                <li>
                                    <img src="{% static 'website/img/car/car6.jpg' %}" alt="small-img">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sub-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <p class="copy">© 2022 <a href="#">Theme Vessel.</a> All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="social-media clearfix">
                        <div class="social-list">
                            <div class="icon facebook">
                                <div class="tooltip">Facebook</div>
                                <span><i class="fa fa-facebook"></i></span>
                            </div>
                          
                            </div>

                            <div class="icon instagram">
                                
                                <div class="tooltip">Instagram</div>
                                <span>
                                  
                                    <a href="https://www.instagram.com/premiumrentals.uk/">  <i class="fa fa-instagram"> </i></span></a>
                            </div>
                            
                            </div>
                           
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer end -->

<!-- Full Page Search -->
<div id="full-page-search">
    <button type="button" class="close">×</button>
    <form action="index.html#" class="full-page-search-inner">
        <input type="search" value="" placeholder="type keyword(s) here" />
        <button type="submit" class="btn btn-sm button-theme">Search</button>
    </form>
</div>

<!-- Car Overview Modal -->
<div class="car-model-2">
    <div class="modal fade" id="carOverviewModal" tabindex="-1" role="dialog" aria-labelledby="carOverviewModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title" id="carOverviewModalLabel">
                        <h4>Find Your Dream Car</h4>
                        <h5><i class="flaticon-pin"></i> 123 Kathal St. Tampa City,</h5>
                    </div>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row modal-raw">
                        <div class="col-lg-6 modal-left">
                            <div class="item active">
                                <img src="{% static 'website/img/car-11.png' %}" alt="best-car" class="img-fluid">
                                <div class="sobuz">
                                    <div class="price-box">
                                        <span class="del"><del>$950.00</del></span>
                                        <br>
                                        <span class="del-2">$1050.00</span>
                                    </div>
                                    <div class="ratings-2">
                                        <span class="ratings-box">4.5/5</span>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        ( 7 Reviews )
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 modal-right">
                            <div class="modal-right-content">
                                <section>
                                    <h3>Features</h3>
                                    <div class="features">
                                        <ul class="bullets">
                                            <li>Cruise Control</li>
                                            <li>Airbags</li>
                                            <li>Air Conditioning</li>
                                            <li>Alarm System</li>
                                            <li>Audio Interface</li>
                                            <li>CDR Audio</li>
                                            <li>Seat Heating</li>
                                            <li>ParkAssist</li>
                                        </ul>
                                    </div>
                                </section>
                                <section>
                                    <h3>Overview</h3>
                                    <ul class="bullets">
                                        <li>Model</li>
                                        <li>Year</li>
                                        <li>Condition</li>
                                        <li>Price</li>
                                        <li>Audi</li>
                                        <li>2020</li>
                                        <li>Brand New</li>
                                        <li>$178,000</li>
                                    </ul>
                                </section>
                                <div class="description">
                                    <h3>Description</h3>
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard.</p>
                                    <a href="{% static 'website/car-details.html' %}" class="btn btn-md btn-round btn-theme">Show Detail</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'website/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'website/js/jquery.min.js' %}"></script>
<script src="{% static 'website/js/popper.min.js' %}"></script>
<script src="{% static 'website/js/bootstrap.bundle.min.js' %}"></script>
<script  src="{% static 'website/js/bootstrap-submenu.js' %}"></script>
<script  src="{% static 'website/js/rangeslider.js' %}"></script>
<script  src="{% static 'website/js/jquery.mb.YTPlayer.js' %}"></script>
<script  src="{% static 'website/js/bootstrap-select.min.js' %}"></script>
<script  src="{% static 'website/js/jquery.easing.1.3.js' %}"></script>
<script  src="{% static 'website/js/jquery.scrollUp.js' %}"></script>
<script  src="{% static 'website/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script  src="{% static 'website/js/dropzone.js' %}"></script>
<script  src="{% static 'website/js/slick.min.js' %}"></script>
<script  src="{% static 'website/js/jquery.filterizr.js' %}"></script>
<script  src="{% static 'website/js/jquery.magnific-popup.min.js' %}"></script>
<script  src="{% static 'website/js/jquery.countdown.js' %}"></script>
<script  src="{% static 'website/js/jquery.mousewheel.min.js' %}"></script>
<script  src="{% static 'website/js/lightgallery-all.js' %}"></script>
<script  src="{% static 'website/js/jnoty.js' %}"></script>
<script  src="{% static 'website/js/sidebar.js' %}"></script>
<script  src="{% static 'website/js/app.js' %}"></script>

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script  src="{% static 'website/js/ie10-viewport-bug-workaround.js' %}"></script>
<!-- Custom javascript -->
<script  src="{% static 'website/js/ie10-viewport-bug-workaround.js' %}"></script>

</body>
</html>